body {
    font-family: "Lato", sans-serif;
    background: rgb(190, 171, 169);
    background: radial-gradient(circle, rgba(190, 171, 169, 1) 2%, rgba(131, 116, 117, 1) 49%, rgba(96, 84, 83, 1) 100%);
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;

}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 8.5rem;
    /* Footer height */
}

header {
    background-image: url(../assets/img/Background-Header-1.jpg);
    height: 80px;
    margin: 0px;
    padding: 10px;
}

.formularios {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    max-width: 610px;
}

.formulario-recibido {
    background-image: url();
}

fieldset {
    border-radius: 10px;
    margin: 10px;
    border: 6px linear-gradient(90deg, rgba(17, 14, 187, 1) 2%, rgba(99, 120, 216, 0.5215336134453781) 100%);
    background: #6378d8;
    margin-bottom: 20px;
    z-index: 10;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

::placeholder {
    color: #5b6bb3;
}

.form-item {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(180, 200, 226);
    border: 3px solid white;
    border-radius: 6px;
    box-sizing: border-box;
    color: #14277a;
}

.form-item:focus {
    color: #0e39fe;
    border: 3px solid #0e39fe;
    background-color: #e7c5c7;
}

textarea.form-item {
    resize: none;
}

input[type=submit],
input[type=reset] {
    width: 45%;
    background-color: rgb(17, 14, 187);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    padding: 8px;
}

input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #0e39fe;
}

nav {
    position: sticky;
    top: 0px;

}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

li {
    margin: 10px;
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.rad-label {
    display: flex;
    align-items: center;
    text-align: center;

    border-radius: 50px;
    padding: 14px 16px;
    margin: 10px 0;

    cursor: pointer;
    transition: .3s;
}

.rad-label label {
    margin-left: 10px;
}

.rad-label:hover,
.rad-label:focus-within {
    background: hsla(0, 0%, 80%, .14);
}

footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8.5rem;
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

@media screen and (max-width:800px) {
    footer {
        grid-template-columns: repeat(1, 1fr);
        padding: 35px, 0px;
    }
}