/* Estructura y formato básico de la página WEB*/
body {
    font-family: "Lato", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

.page-container,
main {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: white;
}

.content-wrap {
    background: rgba(13, 17, 23, 1);
}

/* Barra de navegación que se muestra siempre. */
nav {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.navbar {
    background-color: rgba(19, 26, 37, 1);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.35);
    height: 80px;
}

/* Posicionando y redimensionando logo de la barra de navegación. */
.logo-navbar {
    width: 30vw;
    max-width: 165px;
    min-width: 165px;
    position: fixed;
    left: 20px;
    top: 16px;
}

.logo-navbar img {
    width: 100%;
}

/* Posicionamiento, redimensionalizando y formateando el botón del menú desplegable.*/
.menu-btn {
    font-size: 1.5rem;
    background-color: transparent;
    border: 1px solid rgba(69, 78, 255, 1.0);
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0;
    cursor: pointer;
    position: fixed;
    right: 25px;
    top: 18px;
}

/* Formato del texto del botón que activa el menú desplegable.*/
.menu-btn p {
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    text-align: justify;
    margin: 0;
    padding: 0;
}

/* Posicionamiento, dimensión y formato del menú desplegable*/
.menu ul {
    display: none;
    background: rgba(13, 17, 23, 1);
    border-radius: 6px;
    position: fixed;
    right: 0px;
    top: 59px;
    padding: 2px 2px;
    margin: 0;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.35);
}

.menu:hover ul {
    display: block;
}

.menu li {
    display: flex;
    overflow: hidden;
    list-style: none;
    padding: 8px;
    position: relative;
    border-radius: 6px;
}

.menu a {
    width: 100%;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    height: 70%;
    display: flex;
    justify-content: center;
}

.menu a:hover {
    background: #6378d8;
    border-radius: 6px;
}

/* Posicionamiento y formato del encabezado de la página.*/
header {
    background-color: rgba(13, 17, 23, 1);
    height: 80px;
    margin: 0px;
    padding: 10px;
}

/* Formato del atajo para redirección a la sección localízame.*/
.aside {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(21, 33, 52, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(21, 33, 52, 0.5);
    padding: 10px 20px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.aside a {
    text-decoration: none;
    color: #fff;
}

.aside:hover {
    right: 0;
    box-shadow: 0px 0px 10px rgba(69, 78, 255, .5);
}

/* Formato del pié de página.*/
footer {
    width: 100%;
    background-color: rgba(19, 26, 37, 1);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.35);
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

footer>div {
    flex: 1;
}

.logo-footer {
    width: 30vw;
    max-width: 165px;
    min-width: 165px;
}

.footer-legal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.footer-legal li {
    margin: 10px;
}

.footer-legal li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.footer-legal li a:hover {
    background-color: #111;
}

.fa {
    text-decoration: none;
}


@media screen and (max-width:380px) {
    header {
        height: 100px;
    }
}

@media screen and (max-width:800px) {

    .aside {
        display: none;
    }

    footer {
        flex-direction: column;
    }

    .container-card,
    .card {
        flex-direction: row;
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        background-color: rgba(21, 33, 52, 0.5);
        backdrop-filter: blur(10px);
    }
}

.container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: center;
    overflow: hidden;
    max-width: 600px;
    margin: 10px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border: 1px solid rgba(69, 78, 255, 1.0);
    box-shadow: 0 0 15px rgba(69, 78, 255, .5);
    color: rgba(69, 78, 255, 1.0);
}

.card img {
    width: 100%;
}