:root {

	/*COLORES*/
	--color-pr-cl: rgba(255, 255, 255, 1);
	--color-pr-cl-25: rgba(42, 62, 92, 0.2);
	--color-pr-os: rgba(13, 17, 23, 1);
	--color-gris: rgb(161, 161, 161);
	--color-sec: rgba(69, 78, 255, 1.0);
	--color-negro: rgba(28, 28, 28, 1.0);
	--color-primario: #003D64;
	--color-primario-dark:  #004E64;

	/*FUENTES*/
	--font-esp: "montserrat", sans-serif;
	--font-txt: "lato", sans-serif;

	--mon-regular: 500;
	--mon-bold: 700;
	--lato-regular: 300;
	--lato-bold: 400;

	/*TAMAÑOS FUENTES*/
	--tamaño-esp: 5rem;
	--tamaño-txt: 1rem;

	/*ESPACIOS*/
	--esp-slargo: 80px;
	--esp-xlargo: 60px;
	--esp-largo: 35px;
	--esp-medio: 25px;
	--esp-corto: 10px;
	--esp-xcorto: 5px;

}
.m-top-1 {
	margin-top: var(--esp-xcorto);
}

.m-top-2 {
	margin-top: var(--esp-corto);
}

.m-top-3 {
	margin-top: var(--esp-medio);
}

.m-top-4 {
	margin-top: var(--esp-largo);
}

.m-top-5 {
	margin-top: var(--esp-xlargo);
}

.m-top-6 {
	margin-top: 100px;
}

.m-bottom-1 {
	margin-bottom: var(--esp-xcorto);
}

.m-bottom-2 {
	margin-bottom: var(--esp-corto);
}

.m-bottom-3 {
	margin-bottom: var(--esp-medio);
}

.m-bottom-4 {
	margin-bottom: var(--esp-largo);
}

.m-bottom-5 {
	margin-bottom: var(--esp-xlargo);
}

.p-top-1 {
	padding-top: var(--esp-xcorto);
}

.p-top-2 {
	padding-top: var(--esp-corto);
}

.p-top-3 {
	padding-top: var(--esp-medio);
}

.p-top-4 {
	padding-top: var(--esp-largo);
}

.p-top-5 {
	padding-top: var(--esp-xlargo);
}

.p-top-6 {
	padding-top: 100px;
}

.p-bottom-1 {
	padding-bottom: var(--esp-xcorto);
}

.p-bottom-2 {
	padding-bottom: var(--esp-corto);
}

.p-bottom-3 {
	padding-bottom: var(--esp-medio);
}

.p-bottom-4 {
	padding-bottom: var(--esp-largo);
}

.p-bottom-5 {
	padding-bottom: var(--esp-xlargo);
}

.p-bottom-6 {
	padding-bottom: 100px;
}

.bg-blanco {
	background-color: var(--color-pr-cl);
}

.bg-oscuro {
	background-color: var(--color-pr-os);
}

.bg-negro {
	background-color: var(--color-negro);
}

.bg-gris {
	background-color: var(--color-gris);
}

.fullContainer {
	width: 100%;
}

.cajaResponsive {
	width: 90%;
}

.centrar-contenedor {
    margin-left: auto;
    margin-right: auto;
}

.d-float-left {
    float: left;
}

.d-float-right {
    float: right;
}

.d-float-top {
    float: top;
}

.d-float-bottom {
    float: bottom;
}

.d-flex{
    display: flex;
}

.flex-direcction-column {
    flex-direction: column;
}

.flex-direcction-row {
    flex-direction: row;
}

.gap-25{
	gap: 25px;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-intems {
    align-items: center;
}

.d-grid {
    display: grid;
}

.txt-center {
    text-align: center;
}

.txt-cuerpo {
    font-family: var(--font-txt);
    font-weight: var(--lato-regular);
    font-size: 1rem;
    color: var(--color-pr-os);
    text-align: justify;
}

.txt-cuerpo-white {
    font-family: var(--font-txt);
    font-weight: var(--lato-regular);
    font-size: 1rem;
    color: var(--color-pr-cl);
    text-align: justify;
}



.txt-cuerpo-bold-white {
    font-family: var(--font-txt);
    font-weight: var(--lato-bold);
    font-size: 1rem;
    color: var(--color-pr-cl);
}

.txt-titular {
	font-family: var(--font-esp);
	font-weight: var(--mon-regular);
	font-size: 3rem;
	color: var(--color-pr-os);
}


.txt-especial {
	font-family: var(--font-txt);
	font-weight: bold;
	font-size: 1.25rem;
	color: var(--color-sec);
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
	-moz-scroll-behavior: smooth;
	-o-scroll-behavior: smooth;
}


#cabecera{
	background-color: rgba(19, 26, 37, 1);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.35);
    padding-top: 10px;
    padding-bottom: 10px;
	display: flex;
	justify-content: center;
	
	height: 80px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;

	z-index: 100;
}
.maxContainer {
	width: 90vw;
}
.minContainer {
	display: none;
}
.logo {
	width: 30vw;
    max-width: 165px;
    min-width: 165px;
	position: fixed;
    left: 20px;
	top: 16px;
}


.nav-lau{
	list-style: none;
	padding-top: 5px;
	display: inline-block;
	max-width: 90vw;

}
.nav-lau li{
	display: inline-block;
	margin: 0 10px 0 10px;
}
.nav-lau li a{
	color: white;
	text-decoration: none;
}
.nav-lau li a:hover{
	background-color: #003D64;
}



.oculto{
	display: none;
}
body {
    font-family: "Lato", sans-serif;
    background: white;
    color: black;
    margin: 0;
    padding-top: 80px;
    text-align: center;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px;
}
.menu-horizontal > li:hover{
}
.menu-vertical{

	position: absolute;
	display:none;
	width: 200px;
	background-color: #004E64;

}
ul{
	list-style-type: none;
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	color: var(--color-primario-dark);
}
.menu-vertical li a{
	display: block;
	color: aliceblue;
	padding: 15px 15px 15px 20px;
	text-decoration: none;
}
/* todas las imagnes ocupan un 100% del ancho y el alto auto no pierdan su proporcion */
img{
    width: 100%;
    height: auto;
}
#seccion1{
    height: 300px;
    margin-top: 10px;
    text-align: left;
	margin-right: 25%;
}
#fotoQuienes{
    width: 30%;
    display: inline-block;
	margin-top: 60px;
	
    
}

#texto{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    line-height: 2;
    padding-left: 30px;
	color: black;
}

#texto h2{
    text-align: center;
}


aside{
	float: right;
	width: 200px;
	display: block;
	border: solid var(--color-gris);
	box-shadow: 2px 2px 5px var(--color-gris);
	background-color: aliceblue;
	margin: 10px;
	z-index: 2;
}
aside h4{
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	background-color:  #003D64;
	padding: 7px;
	text-align: center;
	color: white;
	border-top: solid 1px ;
	border-bottom: solid 1px;

}
.info-lateral li  a {
	color: black;
	display: flex;
	text-decoration: none;
}




#division{
    text-align: center;
    padding: 100px 0px;
    margin-top: 20%;
    color: azure;
	background: linear-gradient(90deg, rgba(3,23,37,1) 37%, rgba(6,166,200,1) 98%);
}

#seccion2 {
 background-color: rgba(19, 26, 37, 1);
 
}
.img-nosotros{
    width: 50%;
    margin: 5% auto 0;
	
}
#contenedor-nosotros  h3, h5{
    justify-content: center;
	color: white;
	line-height: 1.5;
}
.img-nosotros img{
    border-radius: 100%;
}

.ficha-nosotros{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2%;
}
.img-git{
    width: 50px;
    margin: auto;
}

.footer-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-around;
}
.iconos a{
    width: 30px;
	display: inline-block;
	margin: 0 20px 0 20px;

}
.enlaces a{
	display: block;
	margin: 0 20px 0 20px;
	text-decoration: none;
}

@media screen and (max-width: 599px){
	/* For phone */
	#cabecera{
		padding: 0;
		height: 50px;
	}
	#texto{
		font-size: 9px;
		text-align: justify;
		width: 60%;
		display: inline-block;
		vertical-align: top;
		line-height: 2;
		padding-left: 30px;
		color: black;
	}
	.nav-lau{
		max-width: 60vw;
		padding: 0;
	}
	.nav-lau li {
		font-size: 11px;
		margin: 0;
		padding: 0;
	}
	.maxContainer {
		display: none;
	}
	.minContainer {
		display: block;
		max-width: 100%;
	}
	aside{
		float: right;
		display: none;
		width: 200px;
		border: solid var(--color-gris);
		box-shadow: 2px 2px 5px var(--color-gris);
		background-color: aliceblue;
		margin: 10px;
		z-index: 2;
	}
	aside h4{
		font-size: 15px;
		text-decoration: none;
		text-transform: uppercase;
		background-color:  #003D64;
		padding: 7px;
		text-align: center;
		color: white;
		border-top: solid 1px ;
		border-bottom: solid 1px;
	
	}
	.info-lateral li  a {
		color: black;
		display: flex;
		text-decoration: none;
	}

 	
}
@media only screen and (min-width: 600px) {
	/* For tablets: */
	#cabecera{
		padding: 0;
		height: 50px;
	}
	#texto{
		font-size: 20px;
		text-align: justify;
		width: 60%;
		display: inline-block;
		vertical-align: top;
		line-height: 2;
		padding-left: 30px;
		color: black;
	}
	.nav-lau{
		max-width: 60vw;
		padding: 0;
	}
	.nav-lau li {
		font-size: 11px;
		margin: 0;
		padding: 0;
	}
	.maxContainer {
		display: none;
	}
	.minContainer {
		display: block;
		max-width: 100%;
	}
	aside{
		float: right;
		display: none;
		width: 200px;
		border: solid var(--color-gris);
		box-shadow: 2px 2px 5px var(--color-gris);
		background-color: aliceblue;
		margin: 10px;
		z-index: 2;
	}
	aside h4{
		font-size: 15px;
		text-decoration: none;
		text-transform: uppercase;
		background-color:  #003D64;
		padding: 7px;
		text-align: center;
		color: white;
		border-top: solid 1px ;
		border-bottom: solid 1px;
	
	}
	.info-lateral li  a {
		color: black;
		display: flex;
		text-decoration: none;
	}
}
@media only screen and (min-width: 768px) {
/*@media screen and (min-width: 1200px){*/
	#cabecera{
		padding: 0;
		height: 50px;
	}
	#seccion1{
		width: 100%;
	}
	#texto{
		font-size: 15px;
		text-align: justify;
		width: 60%;
		display: inline-block;
		vertical-align: top;
		line-height: 2;
		padding-left: 30px;
		color: black;
	}
	.nav-lau{
		max-width: 60vw;
		padding: 0;
	}
	.nav-lau li {
		font-size: 12px;
		margin: 0;
		padding: 0;
	}
	.maxContainer {
		display: none;
	}
	.minContainer {
		display: block;
		max-width: 100%;
	}
	aside{
		float: right;
		width: 200px;
		border: solid var(--color-gris);
		box-shadow: 2px 2px 5px var(--color-gris);
		background-color: aliceblue;
		margin: 10px;
		z-index: 2;
	}
	aside h4{
		font-size: 15px;
		text-decoration: none;
		text-transform: uppercase;
		background-color:  #003D64;
		padding: 7px;
		text-align: center;
		color: white;
		border-top: solid 1px ;
		border-bottom: solid 1px;
	
	}
	.info-lateral li  a {
		color: black;
		display: flex;
		text-decoration: none;
	}

	}
	@media only screen and (min-width: 900px) {
		/*@media screen and (min-width: 1200px){*/
			#cabecera{
				background-color: rgba(19, 26, 37, 1);
				box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.35);
				padding-top: 10px;
				padding-bottom: 5px;
				display: flex;
				justify-content: center;
				
				height: 80px;
				position: fixed;
				width: 100%;
				top: 0;
				left: 0;
			
				z-index: 100;
			}
			#texto{
				font-size: 20px;
				text-align: justify;
				width: 50%;
				display: inline-block;
				vertical-align: top;
				line-height: 2;
				padding-left: 30px;
				color: black;
			}
			.nav-lau{
				padding-bottom: 5px;
				max-width: 60vw;
				padding: 0;
			}
			.nav-lau li {
				font-size: 16px;
				margin: 0;
				padding: 0;
			}
			.logo {
				width: 30vw;
				max-width: 165px;
				min-width: 165px;
				position: fixed;
				left: 20px;
				top: 16px;
			}
			.maxContainer {
				display: block;
				max-width: 100%;
			}
			.minContainer {
				display: none;
				
			}
			aside{
				float: right;
				width: 200px;
				display: block;
				border: solid var(--color-gris);
				box-shadow: 2px 2px 5px var(--color-gris);
				background-color: aliceblue;
				margin: 10px;
				z-index: 2;
			}
			aside h4{
				font-size: 15px;
				text-decoration: none;
				text-transform: uppercase;
				background-color:  #003D64;
				padding: 7px;
				text-align: center;
				color: white;
				border-top: solid 1px ;
				border-bottom: solid 1px;
			
			}
			.info-lateral li  a {
				color: black;
				display: flex;
				text-decoration: none;
			}
		
			}
